/* 
* Styles for bottom half of Pokedex
*/
.bottom-container {
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
}

/* Stats screen */
.bottom-screen {
    margin: auto;
    width: 35%;
    height: 225px;
    font-family: 'PKMN RBYGSC';
    background-color: lightgrey;
    border: 20px solid maroon;
    border-radius: 5px;
}

/* Text styles on stat screen */
.pokemon-stats {
    margin: 50px auto;
    width: max-content;
    height: max-content;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

/* Arrow styles */
.arrow {
    margin: auto;
    height: 30px;
    width: 30px;
    border: solid darkgrey;
    border-width: 0 20px 20px 0;
    /* display: inline-block; */
    padding: 15px;
}

/* Right arrow */
.right {
    margin-right: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 5px 8px 5px maroon;
}

/* Left arrow */
.left {
    margin-left: 50px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    box-shadow: 8px 5px 5px maroon;
}

/* Highlight arrows when user hovers with mouse */
.arrow:hover {
    opacity: .85;
    cursor: pointer;
}

@media (max-width: 850px) {
    .bottom-screen {
        width: 33%;
        height: 150px;
    }

    .pokemon-stats {
        margin: 25px auto;
        font-size: 8px;
    }

    .arrow {
        height: 12px;
        width: 12px;
    }
}