/* Pokédex bottom piece
.bottom-container {
    margin: 0 auto;
    width: 60vw;
    height: 36vh;
    background-color: #cc0000;
    box-shadow: 10px 0px 7px black;
    border: maroon;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

/* Stats screen */
.bottom-screen {
    margin: 6vh auto;
    width: 45%;
    height: 24vh;
    background-color: lightgrey;
    border-radius: 5px;
} */