.App {
  height: 100vh;
  text-align: center;
  background: repeating-linear-gradient(
    -55deg,
    #3B4CCA,
    #3B4CCA 30px,
    #4A60FF 50px,
    #4A60FF 50px
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Pokédex container */
.pokedex-container {
  margin: 0 auto;
  width: 650px;
  height: 70vh;
  background-color: #cc0000;
  box-shadow: 15px 15px 7px black;
  border: maroon;
  border-radius: 5px;
}
