/* Default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Background striping */
.pokedex-app {
  height: 100vh;
  text-align: center;
  background: repeating-linear-gradient(
    -55deg,
    #3B4CCA,
    #3B4CCA 30px,
    #4A60FF 50px,
    #4A60FF 50px
  );
}

/* Spacing around Pokédex logo */
.pokedex-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Pokédex top-level styles */
.pokedex-container {
  margin: 0 auto;
  width: 650px;
  height: 875px;
  background-color: #cc0000;
  box-shadow: 15px 15px 7px black;
  border: maroon;
  border-radius: 5px;
}

.copy {
  position: absolute;
  bottom: 0;
  font-family: 'PKMN RBYGSC';
  font-size: 10px;
  float: left;
  text-transform: uppercase;
}

@media(max-width: 850px) {
  .pokedex-container {
    width: 450px;
    height: 700px;
  }
}

/* Pokémon game font */
@font-face {
  font-family: 'PKMN RBYGSC';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/PKMN_RBYGSC.ttf');
}