/* Background striping */
.pokedex-app {
  height: 100vh;
  text-align: center;
  background: repeating-linear-gradient(
    -55deg,
    #3B4CCA,
    #3B4CCA 30px,
    #4A60FF 50px,
    #4A60FF 50px
  );
}

/* Spacing around Pokédex logo */
.pokedex-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Pokédex top-level styles */
.pokedex-container {
  margin: 0 auto;
  width: 650px;
  height: 875px;
  background-color: #cc0000;
  box-shadow: 15px 15px 7px black;
  border: maroon;
  border-radius: 5px;
}

@media(max-width: 850px) {
  .pokedex-container {
    width: 450px;
    height: 700px;
  }
}